<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>OAuth 2.0 Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>OAuth 2.0 Client</h1>

<h2>End of Authorization Code Flow</h2>

<h3>Access Token</h3>

<p th:text="'Access Token: ' + ${access_token}"></p>

<p th:text="'Expires in: ' + ${expires_in} + ' seconds'"></p>

<p th:text="'Token Type: ' + ${token_type}"></p>

<p th:text="'Scope: ' + ${scope}"></p>

<h3>Access Token (decoded JWT)</h3>

<p th:text="'JWT Header: ' + ${jwt_header}"></p>
<p th:text="'JWT Payload: ' + ${jwt_payload}"></p>
<p th:text="'JWT Signature: ' + ${jwt_signature}"></p>


<h3>Refresh Token</h3>

<p th:text="'Refresh Token: ' + ${refresh_token}"></p>

<hr>

<a th:href="@{'/refreshtoken?refresh_token=' + ${refresh_token}}" href="#">Refresh Access Token</a>

</body>
</html>