<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>OAuth 2.0 Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>OAuth 2.0 Client</h1>

<p>Demo of OAuth 2.0 Authorization Code Grant Flow</p>

<h2>First step: Authorize to retrieve authorization code</h2>

<ul>
    <li th:text="'Authorization-Endpoint:' + ${authorization_endpoint}"></li>
    <li th:text="'client_id:' + ${client_id}"></li>
    <li th:text="'response_type:' + ${response_type}"></li>
    <li th:text="'redirect_uri:' + ${redirect_uri}"></li>
    <li th:text="'scope:' + ${scope}"></li>
    <li th:text="'state:' + ${state}"></li>
</ul>

<hr>

<h2>Authorization Request:</h2>
<p th:text="${authorizationrequest}"></p>

<a th:href="${authorizationrequest}" href="#">Initiate Authorization Request</a>

</body>
</html>